<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de artículos</title>
</head>
<body>
    <h1>Lista de artículos</h1>
    <a href="{% url 'articulo' %}">Nuevo</a>
    <table width="100%">
        <thead>
            <tr>
                <th>Nombre:</th>
                <th>Precio unitario</th>
                <th>Descripción</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
            {% for articulo in articulos %}
                <tr>
                    <td>{{articulo.nombre}}</td>
                    <td>{{articulo.precio}}</td>
                    <td>{{articulo.descripcion}}</td>
                    <td>
                        <a href="{% url 'editar' articulo.id %}">Editar</a>
                        <a href="{% url 'eliminar' articulo.id %}">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>