<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <title>Title Page</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <h1 class="text-center">Inicio de sesión</h1>
        
        {% if mensaje %}
            <div>{{mensaje}}</div>
        {% endif %}
            
        <div></div>
        <form method="post">
            {% csrf_token %}
            <label for="username">Usuario:</label>
            <input type="text" name="username" id="username">
            <label for="password">Contraseña:</label>
            <input type="password" name="password" id="password">
            <button type="submit">Ingresar</button>
        </form>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
